/******************************************
 * CSS written by Slobodan Prodanovic     *
 *                                        *
 * sloba.prodanovic@gmail.com             *
 * http://www.slobodanprodanovic.info     *
 ******************************************/

/****************** Fonts *******************************************************/

@import url('https://fonts.googleapis.com/css?family=Dosis');
/* #e1e3f6 */

/****************** Text formating *********************************************/

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/****************** Common *****************************************************/

html {
  height: auto !important;
}

body {
  height: auto !important;
  font-family: 'Dosis', sans-serif;
  font-size: 1.375em;
  max-width: 100% !important;
  width: 100% !important;
}

/****************** Elements formating *****************************************/

.semi-transparent {
    background:rgba(255,255,255,0.5);
    border-radius: 2rem 2rem 2em 2rem;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

a {
  color:white;
}

li > a {
  color: white;
}

hr {
  height: 1px;
  color: gray;
  background: gray;
  border: 0px;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*input, textarea {
  color: #000000;
}*/

@media screen and (max-width: 768px) {
  textarea, input {
    color: #000000;
    background-color: #ffffff;
    width: 100%;
    padding-left: 1em;
    border-radius: 2rem 2rem 2em 2rem;
    -webkit-border-radius: 2rem 2rem 2em 2rem;
    -moz-border-radius: 2rem 2rem 2em 2rem;
  }
}

@media screen and (min-width: 769px) {
  textarea, input {
    color: #000000;
    background-color: #ffffff;
    width: 25%;
    padding-left: 1em;
    border-radius: 2rem 2rem 2em 2rem;
    -webkit-border-radius: 2rem 2rem 2em 2rem;
    -moz-border-radius: 2rem 2rem 2em 2rem;
  }

  textarea {
    width: 100%;
  }
}

/****************** BitBucket widget *******************************************/
.bbWidgetValues {
  font-size: 1em;
}

.bbWidgetHeaders {
  font-size: 2rem;
}

/****************** Base and Screen Setup **************************************/
#mainContainer {
  min-height: 100vh !important;
  height:auto !important;
  background: url('/img/sky1920.jpg') no-repeat center center fixed;
  background-color: #f27928;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
}

@media screen and (max-width: 1300px) {
  #mainContainer {
    min-height: 100vh !important;
    height:auto !important;
    background: url('/img/sky1366.jpg') no-repeat center center fixed;
    background-color: #f27928;
    -webkit-background-size: cover;
    -moz-background-size: cove;
    -o-background-size: cover;
    background-size: cover;
  }
}


ul.nav li a {
  color: #e1e3f6;
}


.fa {
  font-size: 1.5em;
  color: #e1e3f6;
}

.fa:hover {
  color: #f27928;
}

.langButton:hover {
  cursor: pointer;
}

.langButton {
  text-align: center;
  -moz-border-radius: 2rem 2rem 2rem 2rem;
  -webkit-border-radius: 2rem 2rem 2rem 2rem;
  border-radius: 2rem 2rem 2rem 2rem;
  font-size: 1em;
  background-color: transparent;
  color: #e1e3f6;
  border: 1px solid #e1e3f6;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 10px;
  padding-right: 10px;
}

.langButton:hover {
  background-color: #f27928;
}

a > .langButton:hover {
  color: #ffffff;
  text-decoration: none;
}

.langButtonActive {
  background-color: #ffffff;
}

a > .langButtonActive {
  color: #000000;
}

a > .langButtonActive:hover {
  color: #000000;
  text-decoration: none;
}

.navbar-brand {
  color: #000000;
}

.navbar-brand:hover {
  color: #ffffff;
  cursor: pointer;
}

.navbar-nav {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

#headerContainer {
  background-color:transparent;
  width: 100% !important;
  /*margin-bottom: 1em;*/
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#navigationContainer {
  border-top: 1px dotted #000000;
  color: #000000;
  background-color: transparent;
  padding-top: 0.5em;
}

#collapseHeader {
  color: #000000;
}

.icon-bar {
  color: #000000;
  border-color: #000000;
  background-color: #000000;
}

.testtest {
  padding-top: auto;
  padding-bottom: auto;
}

.navButtons {
  -moz-border-radius: 200em;
  -webkit-border-radius: 200em;
  border-radius: 200em;
  background-color: transparent;
  color: gray;
  border: 1px solid gray;
  margin-left: 1em;
  margin-right: 1em;
}

.navButtons:hover {
  -moz-border-radius: 200em;
  -webkit-border-radius: 200em;
  border-radius: 200em;
  /*background-color: black;*/
  background-color: #f27928 !important;
  color: black;
  margin-left: 1em;
  margin-right: 1em;
}

.navButtonsActive {
  background-color: #ffffff;
  color: #000000 !important;
}

@media screen and (max-width: 768px) {

  .navButtons {
    -moz-border-radius: 200em;
    -webkit-border-radius: 200em;
    border-radius: 200em;
    background-color: #ffffff;
    color: #000000 !important;
    border: 1px solid gray;
    margin-left: 1em;
    margin-right: 1em;
  }

  .navButtons:hover {
    -moz-border-radius: 200em;
    -webkit-border-radius: 200em;
    border-radius: 200em;
    background-color: #f27928 !important;
    color: black;
    margin-left: 1em;
    margin-right: 1em;
  }

  .navButtonsActive {
    background-color: #e1e3f6;
    color: #000000 !important;
  }

}

/*#aboutText {
  font-size: 1em;
  padding-top: 2em;
}*/

/****************** Footer *****************************************************/

#footerContainer {
  background-color: #000000;
  padding-top: 2em;
}

/* Do not change! */
#footer {
  color: #e1e3f6;
  clear: both;
  position: relative;
  z-index: 10;
  margin-top: 1px;
  height: auto;
  width: 100% !important;
  padding-left: 1em;
  padding-right: 1em;
}

.footerLink {
  margin-top: 2em;
  font-size: 1.5rem;
  text-align: right;
  color: white;
}

.footerLinkHeader {
  font-size: 2rem;
  color: #e1e3f6;
  text-align: right;
}

#headerRow, #widgetContainer {
  padding-top: 0px;
  padding-bottom: 1.5em;
}

#copyrightContainer {
  margin-top: 3em;
}

#bbHeader {
  padding-top: 0px;
  margin-top:0px;
  font-size: 2rem;
}

.widgetLine {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  #indexContainer, .aboutContainer {
    margin-top: 0em;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 769px) {
  #indexContainer, .aboutContainer, .portfolioContainer, .eStudentContainer, .eFarmContainer, .eLeagueContainer {
    margin-top: 3em;
    font-size: 1.5em;
  }
}

.aboutText, .eStudentText, .eLeagueText, .eFarmText {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

#copy {
  margin-top: 1em;
  font-size: inherit;
  padding: 1em 1em 1em 1em;
}

h2 > a {
  color: #000000;
}

h2 > a:hover {
  text-decoration: none;
  color: #f27928;
}
