{% extends "default.html.twig" %}
{% block title %}eFarm
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 eFarmContainer">
      {{ "eFarmText"|trans|raw }}
    </div>
  </div>
{% endblock %}
