{% extends "default.html.twig" %}
{% block title %}eLeague
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 eLeagueContainer">
      {{ "eLeagueText"|trans|raw }}
    </div>
  </div>
{% endblock %}
