{% extends "default.html.twig" %}
{% block title %}eStudent{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-sm-7 eStudentContainer">
      {{ "eStudentText"|trans|raw }}
    </div>
    <div class="col-sm-5 hidden-xs eStudentContainer">
      <!-- Wrapper for slides -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <img src="/img/eStudent/photo1.jpg" alt="eStudent">
          </div>
          <div class="item">
            <img src="/img/eStudent/photo2.jpg" alt="eStudent">
          </div>
          <div class="item">
            <img src="/img/eStudent/photo2.jpg" alt="eStudent">
          </div>
          <div class="item">
            <img src="/img/eStudent/photo3.jpg" alt="eStudent">
          </div>
          <div class="item">
            <img src="/img/eStudent/photo4.jpg" alt="eStudent">
          </div>
          <div class="item">
            <img src="/img/eStudent/photo5.jpg" alt="eStudent">
          </div>
          <div class="item">
            <img src="/img/eStudent/photo6.jpg" alt="eStudent">
          </div>
          <div class="item">
            <img src="/img/eStudent/photo7.jpg" alt="eStudent">
          </div>
          <div class="item">
            <img src="/img/eStudent/photo8.jpg" alt="eStudent">
          </div>
          <div class="item">
            <img src="/img/eStudent/photo9.jpg" alt="eStudent">
          </div>
          <div class="item">
            <img src="/img/eStudent/photo10.jpg" alt="eStudent">
          </div>
          <div class="item">
            <img src="/img/eStudent/photo11.jpg" alt="eStudent">
          </div>
          <div class="item">
            <img src="/img/eStudent/photo12.jpg" alt="eStudent">
          </div>
          <div class="item">
            <img src="/img/eStudent/photo13.jpg" alt="eStudent">
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
