{% extends "default.html.twig" %}
{% block title %}{{ "About"|trans }}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-5 aboutContainer" >
     {{ "Bio"|trans|raw }}
  </div>
  <div class="col-sm-7 aboutContainer">
    {{ "BioTools"|trans|raw }}
  </div>
</div>

{% endblock %}
