{% extends "default.html.twig" %}
{% block title %}{{"Contact"|trans}}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="">
      <div class="row" style="margin-top: 1em; margin-bottom: 1em;">
        <span id="messageFeedback" style="margin-top: 1em; margin-bottom:1em;">
        </span>
      </div>
      <div class="row">
        <input type="text" id="contactName" placeholder="{{ 'Name'|trans}}">
      </div>
      <div class="row">
        <input type="email" id="contactEmail" placeholder="Email">
      </div>
      <div class="row">
        <span id="copy" class="semi-transparent">{{ 'Send me a copy'|trans }}</span>
        <input type="checkbox" id="contactCopy">
      </div>
      <div class="row">
        <textarea rows="4" id="contactMessage" placeholder="{{ 'Message'|trans }}"></textarea>
      </div>
      <div class="row text-left">
        <input type="button" class="btn btn-default" value="{{ 'Submit'|trans }}" onClick="sendMessage();" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
