<!DOCTYPE html>
<html lang="{{ language }}">
  <head>
    <meta charset="UTF-8">
    <meta name="description"  content="Online portfolio of Slobodan Prodanovic, web developer">
    <meta name="keywords"     content="HTML,CSS,JavaScript, PHP, Slobodan, Prodanovic,Web, Development, Website, Symfony">
    <meta name="author"       content="Slobodan Prodanovic">
    <meta name="viewport"     content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/b90dc7c06a.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" type="text/css" href="http://eportfolio.dev/css/custom.css">
    <link rel="icon" href="/img/favicon/favicon.ico">
    <title>{% block title %}{% endblock %} | Slobodan Prodanović</title>
  </head>

  <body>
    {# Main container for Social links, Language selection,  Navigation and Content of website #}
    <div id="mainContainer" class="container-fluid">
      <!-- Language selection and social links-->
      <div id="headerContainer">
        <div class="row" style="font-color: white; padding-bottom:0px; background-color:transparent;">
          <div class="col-xs-3 col-sm-1 text-center">
            <a href="https://bitbucket.org/slobaprodanovic/" target="_blank">
              <i class="fa fa-bitbucket fa-1x" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-xs-3 col-sm-1 text-center">
            <a href="https://www.linkedin.com/in/slobaprodanovic" target="_blank">
              <i class="fa fa-linkedin fa-1x" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-xs-3 col-sm-1 text-center">
            <a href="https://www.facebook.com/slobaprodanovic" target="_blank">
              <i class="fa fa-facebook fa-1x" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-xs-3 col-sm-1 text-center">
            <a href="https://twitter.com/FreeManSold" target="_blank" class="footerLink">
              <i class="fa fa-twitter fa-1x" aria-hidden="true"></i>
            </a>
          </div>
          <div class="visible-xs">
            <br />
            <hr />
          </div>
          <div class="col-sm-2 col-sm-offset-4 col-xs-6 text-center">
            <a href="{{ pageRs }}">
              <span class="langButton" id="langSrb">
                srb
              </span>
            </a>
          </div>
          <div class="col-sm-2 col-xs-6 text-center">
            <a href="{{ pageEn }}">
              <span class="langButton" id="langEng">
                eng
              </span>
            </a>
          </div>
          <div class="visible-xs">
            <br />
            <hr />
          </div>
        </div>
      </div>

      <!-- Navigation links -->
      <div class="row" id="navigationContainer">
          <div class="navbar-header" style="">
            <div class="visible-xs">
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" data-toggle="collapse" data-target="#myNavbar">{{ "Nav"|trans }}</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="col-sm-2 col-sm-offset-2 text-center"><a class="navButtons {% if (currentPage == ('/'~language)) or (currentPage == "/") %}navButtonsActive{% endif %}" href="/{{'lang'|trans}}">{{ 'Home'|trans }}</a></li>
              <li class="col-sm-2 text-center"><a class="navButtons {% if currentPage == ('/'~language~'/about') %}navButtonsActive{% endif %}" href="/{{'lang'|trans}}/about">{{ 'About'|trans }}</a></li>
              <li class="col-sm-2 text-center"><a class="navButtons {% if currentPage == ('/'~language~'/portfolio') %}navButtonsActive{% endif %}" href="/{{'lang'|trans}}/portfolio">{{ 'Portfolio'|trans }}</a></li>
              <li class="col-sm-2 text-center"><a class="navButtons {% if currentPage == ('/'~language~'/contact') %}navButtonsActive{% endif %}" href="/{{'lang'|trans}}/contact">{{ 'Contact'|trans }}</a></li>
            </ul>
          </div>
      </div>

      {# Main content of page is inside this container #}
      <!-- Content -->
      {% block content %}{% endblock %}
    <!-- End of mainContainer -->
    </div>


    <!-- Footer container -->
    <div class="container-fluid" id="footerContainer">
      <div id="footer" class="text-center">
        <!-- Social, Portfolio and BitBucket Widget -->
        <div class="row">
          <!-- Social and Portfolio -->
          <div class="col-sm-4">
            <!-- Header rows -->
            <div class="row" id="headerRow">
              <div class="col-sm-2 col-xs-6">
                <span class="footerLinkHeader">
                  Social
                </span>
              </div>
              <div class="col-sm-2 col-sm-offset-1 col-xs-6">
                <span class="footerLinkHeader">
                  Portfolio
                </span>
              </div>
            </div>
            <!-- First row -->
            <div class="row">
              <div class="col-sm-2 col-xs-6">
                <span class="footerLink">
                  <a href="https://bitbucket.org/slobaprodanovic/" target="_blank" class="footerLink">
                    bitbucket
                  </a>
                </span>
              </div>
              <div class="col-sm-2 col-sm-offset-1 col-xs-6">
                <span class="footerLink">
                  <a href="/{{ "lang"|trans }}/portfolio/estudent" class="footerLink">
                    eStudent
                  </a>
                </span>
              </div>
            </div>
            <!-- Second row -->
            <div class="row">
              <div class="col-sm-2 col-xs-6">
                <span class="footerLink">
                  <a href="https://www.linkedin.com/in/slobaprodanovic/" target="_blank" class="footerLink">
                    linkedin
                  </a>
                </span>
              </div>
              <div class="col-sm-2 col-sm-offset-1 col-xs-6">
                <span class="footerLink">
                  <a href="/{{ "lang"|trans }}/portfolio/efarm" class="footerLink">
                    eFarm
                  </a>
                </span>
              </div>
            </div>
            <!-- Third row -->
            <div class="row">
              <div class="col-sm-2 col-xs-6">
                <span class="footerLink">
                  <a href="https://twitter.com/FreeManSold" target="_blank" class="footerLink">
                    twitter
                  </a>
                </span>
              </div>
              <div class="col-sm-2 col-sm-offset-1 col-xs-6">
                <span class="footerLink">
                  <a href="/{{ "lang"|trans }}/portfolio/eleague" class="footerLink">
                    eLeague
                  </a>
                </span>
              </div>
            </div>
            <!-- Fourth row -->
            <div class="row">
              <div class="col-sm-2 col-xs-6">
                <span class="footerLink">
                  <a href="https://www.facebook.com/slobaprodanovic" target="_blank" class="footerLink">
                    facebook
                  </a>
                </span>
              </div>
            </div>
          {# End of Social and Portfolio links #}
          </div>

          <!--BitBucket Widget-->
          <div class="col-sm-8 hidden-xs">
            <div class="row" id="widgetContainer">
              <div class="col-sm-12 text-center">
                <h3 id="bbHeader">BitBucket Widget</h3>
                <h5>{{ "BitBucketWidgetTitle"|trans }}</h5>
              </div>
            </div>
            {# Received repositories #}
            <div id="bitBucketWidget">
            </div>
          </div>
        {# End of first row #}
        </div>

        <!-- Copyright -->
        <div class="row" id="copyrightContainer">
          <div class="col-sm-6 col-sm-offset-3 text-center">
            Slobodan Prodanović | &copy; {{ "now"|date("Y") }}
          </div>
        </div>
      </div>
    <!-- End of footerContainer -->
    </div>

    <noscript>Your browser does not support JavaScript!</noscript>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/Classes/Cookie.js"></script>
    <script src="/js/Classes/BitBucket.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/ga.js"></script>
    <script>
      let temp = new BitBucket();
    </script>
    {% block addJS %}{% endblock %}
  </body>
</html>
