{% extends "default.html.twig" %}
{% block title %}ePortfolio{% endblock %}
{# Main content of the page #}
{% block content %}
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 semi-transparent" id="indexContainer">
    {{ "HomeMainText"|trans|raw }}
  </div>
</div>
{% endblock %}
