{% extends "default.html.twig" %}
{% block title %}Portfolio{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-3 semi-transparent portfolioContainer text-justify">
    <h2 class="text-center"><a href="/{{'lang'|trans}}/portfolio/estudent">eStudent</a></h2>
    <hr />
    <span>
      {{ "eStudentPortfolio"|trans|raw }}
    </span>
  </div>
  <div class="col-sm-4 col-sm-offset-1 semi-transparent portfolioContainer text-justify">
    <h2 class="text-center"><a href="/{{'lang'|trans}}/portfolio/eleague">eLeague</a></h2>
    <hr />
    <span>
      {{ "eLeaguePortfolio"|trans|raw }}
    </span>
  </div>
  <div class="col-sm-3 col-sm-offset-1 semi-transparent portfolioContainer text-justify">
    <h2 class="text-center"><a href="/{{'lang'|trans}}/portfolio/efarm">eFarm</a></h2>
    <hr />
    <span>
      {{ "eFarmPortfolio"|trans|raw }}
    </span>
  </div>
</div>
{% endblock %}
